/*---------------------------*/
/* Navbar Styling */
/*---------------------------*/
.navContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1B6FE8;
}

.navLinks {
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  color: white;
  font-size: 20px;
  font-family: helvetica;
  font-weight: lighter;  
}

li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: center;
}
/*---------------------------*/
/* Logo */
/*---------------------------*/
#logoContainer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
/*---------------------------*/
/* Descriptions */
/*---------------------------*/
#sections {
  list-style-type: none;
  text-align: center;
}

#descriptionContainer {
  display: inline-block;
}

.descriptions {
  display: inline-block;
  color: #1B6FE8;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 20px;
  font-family: helvetica;
  font-weight: lighter;
}

.text {
  width: 230px;
}
